/* 64em is also 1028px (if basefont is 16px) */

@media only screen and (min-width: 64rem) {
    /* Current Weather */
    #currentWeather {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    footer>.top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: #ddd;
        background-color: #24252a;
        padding: 1.5rem;
        text-align: center;
    }
    #portimgs {
        padding: 10px;
    }
    #joinUs>div:last-child img {
        box-shadow: 0 9px 9px rgb(0 0 0 / 27%);
        margin-left: 38px;
    }
    /* Forecast */
    .forecast-box {
        gap: 100px;
    }
    /* Companies */
    .companies>div {
        width: 200px;
        height: 200px;
        margin: 0 3rem;
    }
    #contact>div {
        grid-template-columns: 1fr 1fr;
    }
    /* ------------ Directory Page ------------ */
    #directory {
        padding-left: 4rem;
        padding-right: 17rem;
    }
    #businesses .card>div div img {
        max-width: 10rem;
        float: right;
    }
    #businesses.grid .card>div div img {
        max-width: 7rem;
    }
    #summary>div {
        border: 1px solid rgba(204, 204, 204, 0.241);
        border-radius: 4px;
        background-color: #00263a9d;
        backdrop-filter: blur(2px);
        padding: 2%;
        color: white;
        width: 48ex;
        position: absolute;
        top: 5%;
        left: 2%;
        font-size: 0.8rem;
    }
    footer {
        background-color: #24252a;
    }
}


/* end of media query */