html {
    max-width: 1350px;
    margin: auto;
}

body {
    font-size: 16px;
    font-family: Inter, sans-serif;
    background-color: #eee;
}

img {
    max-width: 100%;
}

header {
    display: grid;
    padding: 0px;
    background-color: #A16E83;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
    align-items: center;
}

#webTitle {
    padding-left: 15px;
}

#coc {
    font-size: 20px;
    padding-left: 15px;
}

#mylogo {
    grid-column: 1/2;
    width: 100%;
    height: 100%
}

span img {
    width: 50%;
    height: 100%;
    float: right;
    padding-right: 5px;
}

header h1 {
    font-size: 1.3rem;
    margin: 0;
}

header h2 {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 100;
}

nav {
    color: #eee;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 1rem;
    grid-column: 3/6;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    background-color: #A16E83;
    overflow: hidden;
    list-style-type: none;
}

nav li {
    display: none;
}

nav li:last-child {
    display: block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 20px;
}

nav ul li:hover {
    background-color: #479761;
}

nav ul li.active {
    background-color: #479761;
}

p.today-date {
    background-color: #003755;
    grid-column: 1/8;
    grid-row: 2/2;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 100;
    color: white;
}

#date-time {
    grid-row: 2/3;
    grid-column: 1/7;
    text-align: center;
}

ul {
    color: #eee;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 1rem;
}

li {
    color: #eee;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #eee;
    padding: 0.5rem 0;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
}

main {
    padding: 1rem 2%;
    background-color: #CEBC81;
    display: grid;
    grid-template-columns: 1f;
    font-size: 1.5rem;
    text-align: center;
}

#news-release {
    grid-row: 3/4;
    grid-column: 2/3;
}

.news-box {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.responsive li {
    display: block;
}

footer {
    background-color: #caf0f8;
    padding-top: 1rem;
    display: block;
    text-align: center;
}

footer div img {
    max-width: 40px;
    margin-right: 10px;
}

footer>p {
    justify-content: center;
    margin-top: 30px;
    background-color: #003755;
    padding: 2%;
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-align: center;
}

contInfo {
    color: #003755
}

#date-time {
    color: #eee;
    padding: 0.5rem 0;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
}

#article {
    width: 400px;
    text-align: center;
}

@media only screen and (min-width: 785px) {
    nav li:last-child {
        display: block;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* }

#spotlight1 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#spotlight2 {
    grid-column: 3/4;
    grid-row: 2/3;
} */
}

@media only screen and(min-width: 1050px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}